html {
height: 100%;
}

body {
height: 100%;
background: url(https://images.unsplash.com/photo-1467348733814-f93fc480bec6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2635f17894dffc22d8073624dad76875) no-repeat center center;
background-size: cover
}

.pagediv {
top: 10%;
transform: translateY(50%); 
color: white;
}

.pageheading {
font-size: 50px;
text-align: center;
}

.showlist {
font-size: 40px;
}

.mrrobotspan {
font-family: mrRobot;
}

.bgimg {
height: 100%;
background: url(https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b734e103303c5965225682077ee72f86) no-repeat center center;
background-size: cover;
}

.topdiv {
top: 10%;
transform: translateY(100%);
color: white;
}

.pdivs {
font-size: 40px;
text-align: center;
font-family: mrRobot;
}

.pdivs2 {
font-size: 25px;
text-align: center;
font-family: mrRobot;
}

@font-face {
    font-family: mrRobot;
    src: url(mr-robot.ttf);
}

#proceedbutton {
background: white;
border-radius: 5px;
height: 30px;
width: 100px;
font-family: mrRobot;
margin: 0 auto;
display: block;
}
